/* .style {
} */
.nav-link {
    color: #000000;
  }
  
  .nav-link:hover {
    color: rgb(0, 0, 0);
  }
  
  .nav-link:visited {
    color: #000000;
  }
  
  /* footer */
  .footer {
    background-color: #b72424;
  }
  .py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .mt-auto {
    margin-top: auto !important;
  }
  .h-auto {
    height: auto !important;
  }
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
  
  user agent stylesheet footer {
    display: block;
    unicode-bidi: isolate;
  }
  
  .img__logo {
    max-width: 9.6rem;
    padding-right: 0.5rem;
    padding-block: 0.5rem;
  }
  
  .img__logo--navbar {
    width: 6rem;
    mix-blend-mode: multiply;
  }
  
  #btn-registrarse {
    color: #f5f5f5;
  }
  
  .card-footer {
    border-top: none;
    background-color: transparent;
  }
  
  .card-header {
    border-bottom: none;
    background-color: transparent;
    padding: 0;
  }
  
  #visa {
    max-width: 7rem;
    padding-right: 0.5rem;
    padding-block: 0.5rem;
  }
  