/* .style {
} */

/* carrusel */

.carousel-control-next:hover{
  background-color: transparent;
}
.carousel-control-prev:hover{
  background-color: transparent;
}




.nav-link {
    color: #000000;
  }
  
  .nav-link:hover {
    color: rgb(0, 0, 0);
  }
  
  .nav-link:visited {
    color: #000000;
  }
  .img__logo--navbar{
  background-color: #d86440;

  }

  .py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .mt-auto {
    margin-top: auto !important;
  }
  .h-auto {
    height: auto !important;
  }
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
  
  user agent stylesheet footer {
    display: block;
    unicode-bidi: isolate;
  }
  
  .img__logo {
    max-width: 9.6rem;
    padding-right: 0.5rem;
    padding-block: 0.5rem;
  }
  
  .img__logo--navbar {
    width: 6rem;
    mix-blend-mode: multiply;
  }
  
  #btn-registrarse {
    color: #f5f5f5;
  }
  
  .card-footer {
    border-top: none;
    background-color: transparent;
  }
  
  .card-header {
    border-bottom: none;
    background-color: transparent;
    padding: 0;
  }
  
  #visa {
    max-width: 7rem;
    padding-right: 0.5rem;
    padding-block: 0.5rem;
  }
  

html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Este mantiene el footer abajo cuando hay poco contenido */
.footer {
  /* margin-top: auto; */
  border-radius: 10px;
  background-color: #d86440;
  text-align: center;
}

#imagenesEnvio{
  /* border: solid black; */
  margin-left: 2cm;
  width: 4cm;
}
#imagenesPago{
  /* border: solid black; */
  margin-left: 2cm;
  width: 4cm;
}
#visa{
  margin-left: 0.5cm;
}

.catalogCards{
  /* border: solid black; */
  margin-left: 8.5%;
}

.carritoSection{
  border: solid black;
  border-width: 2px;
  border-radius: 20px;
  width: 80%;
  margin-left: 10rem;     /*<-- no reme exactamente que hice pero algo de lo que esta aca hace que no se rompa mas el carrito asi que porfavor no tocar*/
  /* min-height: 100%; */

}

#botonVaciarCarrito{
   border-radius: 10px;
   margin: 10px;
   transition: 0.5s;
  }
  
  #botonVaciarCarrito:hover{
  background-color: red;
}

#botonPagar{
   /* margin-left: 88%;  */
   border-radius: 20px;
    width: 100%;

}

.card {
  width: 18rem;
  height: 25rem; /* Altura fija para mantener uniformidad */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  max-height: 18rem; 
  object-fit: cover; 
  margin-bottom: 0.25rem; 
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5rem;
}

.card-title {
  font-size: 1rem; 
  margin-bottom: 1.50rem;
}

.card-text {
  font-size: rem; 
  margin-bottom: 0.95rem; 
}

botonVaciarCarrito {
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

botonVaciarCarrito:hover {
  background-color: #d63333;
}


.float{
  visibility: visible;
  position: fixed;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  bottom: 40px;
  right: 40px;
  color: #f5f5f5;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
}

.fa-whatsapp{
  font-size: 60px;

}

.float:hover{
  background-color: #28e76e;

}

.footer .fa-whatsapp {
  font-size: 20px;  /* Ajusta el tamaño del ícono en el footer */
}

.formulario{
  display: flex;
  flex-direction: column;
  border: solid black;
  height: 100%;
  width: 30%;
  align-items: center;
  margin:0% 0 0 35%;
  gap: 1cm;
  border-radius: 10px;
  background-color: #d3d3d3;
  box-shadow: .2cm .1cm;
  
}

.loginInputs{
  width: 50%;
  transition: .8s;

}

.loginInputs:focus{
  width: 70%;
}

.botonAgregar-Restar{
  height: 40% ;
  border-radius: 5px;
}

#manejoCantidad{
  gap: .5cm;
  margin-left: 5%;
}

#botonAgregarCantidad:hover{
  background-color: #28e76e;
  transition: .5s;
}

#botonRestarCantidad:hover{
  background-color: #e72828;
  transition: .5s;
}


.search-bar {
  width: 50%;
  max-width: 480px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px auto;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: block;
   
  
}
